body{
    background-color:black;
}
.calc{
    color:red;
    margin-top: 100px;
}
#txt{
    width: 160px;
    height: 40px;
    text-align: center;
    border: none;

}
.cancel{
    width: 70px;
    height: 40px;
    background-color: red;
    
}